/************************** RESET ****************************/
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* 드래그 방지 */
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
a:active,
a:hover,
a:visited,
a:link {
  color: initial;
}

caption {
  display: none;
}

/************************** FOOTER ****************************/
body {
  background: #000;
}
body.scrollLock { overflow: hidden; }

.header.active {
  color: rgb(255, 255, 255);
  transition: backdrop-filter 0.3s linear 0s, background-color 0.3s linear 0s;
  backdrop-filter: blur(30px);
  background-color: rgba(0, 0, 0, 0.829);
}
.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  padding: 15px 15px 15px 20px;
  display: flex;
  justify-content: space-between;
}
.header .header_left{
  display: flex;
  align-items: center;
  gap: 1.875rem;
  z-index: 1;
}
.header a h1.logo {
  background-image: url("img/tving_new_logo_pc.svg");
  width: 5.333rem;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% auto;
  font-size: 1rem;
  text-indent: -9999px;
}
.header div {
  cursor: pointer;
}
.header div img{
width: 2rem;
}
.header  a:not(.logo) {
  color: rgba(255, 255, 255, 1);
  opacity: 0.87;
}
.header  a  .active {
  opacity: 0.64;
}
.header .header_right{
  display: flex;
  gap: 1.5rem;
  z-index: 1;
}
.header .my_menu_popup{
  height: max-content;
  position: absolute;
  right: 1rem;
  bottom: 0;
  transform: translateY(100%);
  padding: .5rem  0 .5rem 0;
  background-color: #212121;
}

.header .my_menu_popup>div{
  display: flex;
  flex-direction: column;
}
.header .my_menu_popup a{
  font-size: .8rem;
  margin: .7rem;
  cursor: pointer;
}
.header .search_popup{
  /*background-color:rgba(0,0,0,.3);*/
  background-color: pink;
justify-content:center;
align-items:center;
top: 0;
  left:0;
  right:0;
  bottom:0;
display:flex;
  position:fixed;

}
.header .search_popup>div{
  display: flex;
  flex-direction: column;
}
.header .search_popup a{
  font-size: .8rem;
  margin: .7rem;
  cursor: pointer;
}
footer {
  margin-top: 100px;
  border-top: 1px solid rgb(61, 54, 54);
  width: 100%;
  font-size: 14px;
  color: #a3a3a3;
  text-align: center;
  line-height: 50px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .header {
    padding: 1rem 1rem 1rem 0.7rem;
  }
  .header  a.logo {
    margin: 0;
    width: 4.216rem;
  }
  .header div img{
    width: 1.7rem;
  }
}
